<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>presentationLayer.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <context-param>
        <description>Location to store uploaded reports</description>
        <param-name>report-upload</param-name>
        <param-value>
            C:\Users\xboxm\OneDrive\Dokumenter\NetBeansProjects\PolygonApp\web\uploads\reports\
        </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded documents</description>
        <param-name>document-upload</param-name>
        <param-value>
            C:\Users\xboxm\OneDrive\Dokumenter\NetBeansProjects\PolygonApp\web\uploads\documents\
        </param-value>
    </context-param>
    
</web-app>
