html, body { height:100%; }

body {
    font-family:'Open Sans', sans-serif;
    font-size:10pt;
    color:#354052;
    background:#f5f5f5;
}

.index { background:#fff; }

h1 { color:#354052; font-weight:700; line-height:16pt; } /* Lead */ 
h2 { color:#354052; font-size:16pt; line-height:60px; } /* Page headline */
h3 { color:#009fe3; font-weight:700; line-height:16pt; } /* Error message */
p { color:#354052; line-height:16pt; }
a { color:#009fe3; text-decoration:none; }
a:hover { text-decoration:underline; }

input, textarea {
    margin:5px 0;
    font-size:10pt;
    font-family:'Open Sans', sans-serif;
    display:block;
    padding:0;
    outline:0;
    border-radius:3px;
}

form input[type=text], form input[type=password], form input[type=email] {
    background:#f5f5f5;
    color:#354052;
    text-indent:5px;
    font-weight:normal;
    width:calc(100% - 2px);
    height:24px;
    border:1px solid #bbb;
}

form input[type=submit] {
    background:#009fe3;
    color:#fff;
    font-weight:700;
    width:100%;
    height:26px;
    cursor:pointer;
    border:0;
    margin:10px 0;
}

textarea {
    width:calc(100% - 12px);
    padding:5px;
    outline:0;
    border:0;
    border:1px solid #bbb;
    background:#f5f5f5;
    color:#354052;
    font-size:10pt;
    border-radius:5px;
    resize:none;
}

form input[type=text]:focus,
form input[type=password]:focus,
form input[type=email]:focus,
textarea:focus {
    background:#fff;
    color:#354052;
}

/* GLOBAL CLASSES */

.wrapper { width:calc(100% - 80px); margin:0 auto; } /* RESIZES SITE */
.center { text-align:center; }
.mr20 { margin-right:20px; }
.hidden { display:none; }

.searchfield {
    background:#f5f5f5;
    color:#354052;
    float:right;
    width:240px;
    height:24px;
    font-size:10pt;
    font-family:'Open Sans', sans-serif;
    font-weight:normal;
    text-indent:5px;
    display:block;
    padding:0;
    margin:0;
    margin-bottom:10px;
    outline:0;
    border:1px solid #bbb;
    border-radius:3px;
}

.left_column {
    float:left;
    width:calc(50% - 20px);
}

.right_column {
    float:right;
    width:calc(50% - 20px);
}

.box {
    background:#fff;
    width:100%;
    clear:both;
    margin-bottom:20px;
    box-sizing:border-box;
    padding:20px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.05);
}

.container {
    background:#fff;
    box-sizing:border-box;
    padding:20px;
    width:400px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.05);
}

.container h1 {
    color:#9fabbe;
    line-height:30px;
    font-size:10pt;
    border-bottom:1px solid #f5f5f5;
}

/* STANDARD TABLE */

.table { /* TABLE CONTAINER DIV */
    background:#fff;
    width:100%;
    min-width:960px;
    box-sizing:border-box;
    padding:20px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.05);
}

.table table {
    width:100%;
}

.table tr {
    line-height:30px;
}

.table tr:first-child {
    color:#9fabbe;
    font-weight:bold;
    border-bottom:1px solid #9fabbe;
}

.table tr:hover {
    background:#ebf0f7;
    cursor:pointer;
}

.table tr:first-child:hover {
    background:none;
    cursor:default;
}

.table .nohover:hover {
    background:none;
    cursor:default;
}

/******************************************************************************/
/******************************************************************************/
/*                               LOGIN/REGISTER                               */
/******************************************************************************/
/******************************************************************************/

/* LOGIN PAGE */

#login {
    width:400px;
    margin:100px auto;
}

#login .logo {
    width:75%;
    display:block;
    margin:10px auto;
}

#login h1 {
    line-height:32pt;
}

#login form {
    margin:10px auto;
    width:240px;
}

#login input[type=email] {
    border-radius:5px 5px 0 0;
    margin:0;
}

#login input[type=password] {
    margin:-1px 0 0 0;
    border-radius:0 0 5px 5px;
}

/* REGISTER PAGE */

#register {
    width:400px;
    margin:100px auto;
}

#register .logo {
    width:75%;
    display:block;
    margin:10px auto;
}

#register h1 {
    line-height:32pt;
}

#register form {
    margin:10px auto;
    width:240px;
}

/******************************************************************************/
/******************************************************************************/
/*                                  CUSTOMER                                  */
/******************************************************************************/
/******************************************************************************/

#top {
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.05);
}

#content {
    width:100%;
    padding-bottom:40px;
}

/* HEADER */

#header {
    width:100%;
    height:40px;
    background:#fff;
    border-bottom:1px solid #f5f5f5;
}

.header_logo {
    float:left;
    height:30px;
    margin:5px 0;
}

#header p {
    float:right;
    line-height:40px;
}

/* NAVIGATION */

#navigation {
    width:100%;
    height:100px;
    background:#fff;
}

#navigation ul {
    width:100%;
    height:40px;
}

#navigation li {
    float:left;
    height:37px;
    line-height:40px;
    margin-right:20px;
}

#navigation a {
    font-weight:bold;
    text-transform:uppercase;
    display:block;
    padding:0 5px;
}

#navigation a:hover {
    color:#354052;
    text-decoration:none;
}

.active a { color:#354052; }
.inactive a { color:#9fabbe; }
.active { border-bottom:3px solid #009fe3; }

/* BREADCRUMBS */

.breadcrumbs {
    color:#354052;
    font-size:8pt;
    font-weight:bold;
    text-transform:uppercase;
    line-height:40px;
}

.breadcrumbs a {
    color:#9fabbe;
}

.breadcrumbs a:hover {
    text-decoration:none;
    color:#009fe3;
}

/* BUILDING OVERVIEW PAGE */

.buildings_table td:nth-child(1) { width:250px; } /* Building name */
.buildings_table td:nth-child(2) { } /* Address */
.buildings_table td:nth-child(3) { width:150px; } /* Parcel # */
.buildings_table td:nth-child(4) { width:100px; } /* Size */
.buildings_table td:nth-child(5) { width:150px; } /* Condition level */

/* VIEW BUILDING */

.viewtable {
    width:100%;
}

.viewtable tr {
    border-bottom:1px solid #f5f5f5;
    line-height:30px;
}

.viewtable tr:first-child {
    color:#9fabbe;
    font-size:12pt;
    font-weight:700;
}

.viewtable tr:last-child {
    border:none;
}

.viewinfo td:nth-child(1) {
    width:200px;
    font-weight:700;
}

.viewdmgs td:nth-child(1) {
    width:100px;
}

.viewdmgs td:nth-child(2) {
    width:150px;
}

.viewreports td:nth-child(1) {
    width:100px;
}

.viewreports td:nth-child(3) {
    width:200px;
}

.viewdocs td:nth-child(1) {
    width:100px;
}

.viewdocs td:nth-child(3) {
    width:200px;
}

.checkuprequest {
    background:#009fe3;
    color:#fff;
    font-size:10pt;
    font-family:'Open Sans', sans-serif;
    font-weight:700;
    display:block;
    width:240px;
    height:26px;
    cursor:pointer;
    border:0;
    padding:0;
    outline:0;
    border-radius:3px;
    margin:10px 0;
}

/* UPLOAD FILES */

.uploadfiles {
    background:#fff;
    box-sizing:border-box;
    padding:20px;
}

.uploadfiles h1 {
    color:#9fabbe;
    line-height:30px;
    font-size:10pt;
    border-bottom:1px solid #f5f5f5;
}

.uploadfiles form {
    width:400px;
}

/******************************************************************************/
/******************************************************************************/
/*                                   ADMIN                                    */
/******************************************************************************/
/******************************************************************************/

/* DASHBOARD */

.dashboard_welcome h1 {
    color:#9fabbe;
    font-size:12pt;
    line-height:30px;
    border-bottom:1px solid #f5f5f5;
}

.dashboard_welcome p {
    margin-top:5px;
}

.dashboard_boxes {
    width:100%;
    height:160px;
}

.dashboard_boxes div {
    background:#fff;
    width:calc(33.33% - 13.33px);
    height:100%;
    float:left;
    box-sizing:border-box;
    padding:20px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.05);
}

.dashboard_boxes img {
    display:block;
    margin:0 auto;
    height:60px;
    opacity:0.75;
}

.dashboard_boxes h1 {
    color:#009fe3;
    font-size:16pt;
    line-height:40px;
}

.dashboard_boxes p {
    font-size:9pt;
    color:#9fabbe;
}

/* USERS PAGE */

.users_table td:nth-child(1) { width:100px; } /* User ID */
.users_table td:nth-child(2) { width:300px; } /* E-mail */
.users_table td:nth-child(3) { } /* Full name */
.users_table td:nth-child(4) { width:200px; } /* # of buildings */
.users_table td:nth-child(5) { width:150px; } /* Creation date */

/* BUILDINGS PAGE */

.customerbuildings_table td:nth-child(1) { width:100px; } /* Building ID */
.customerbuildings_table td:nth-child(2) { } /* Address */
.customerbuildings_table td:nth-child(3) { width:200px; } /* Parcel # */
.customerbuildings_table td:nth-child(4) { width:200px; } /* Size */
.customerbuildings_table td:nth-child(5) { width:150px; } /* Creation date */

/* USER'S BUILDINGS PAGE */

.userbuildings_table td:nth-child(1) { width:100px; } /* Building ID */
.userbuildings_table td:nth-child(2) { } /* Address */
.userbuildings_table td:nth-child(3) { width:200px; } /* Parcel # */
.userbuildings_table td:nth-child(4) { width:200px; } /* Size */
.userbuildings_table td:nth-child(5) { width:150px; } /* Creation date */