body {
    background:#f5f5f5;
    font-family:'Verdana', sans-serif;
    font-size:10pt;
}

#content {
    width:500px;
    margin:100px auto;
}

h1 {
    font-weight:700;
    font-size:24pt;
    color:#333;
}

.center {
    text-align:center;
}

.error-msg {
    color:#d80000;
    font-weight: 700;
}

.success-msg {
    color:#00b300;
    font-weight: 700;
}

.button {
    width: 242px;
    background:#00a2ff;
    margin:10px auto;
    line-height:26px;
    border-radius:3px;
    font-weight:700;
    text-align: center;
}

.button:hover {
    background:rgba(0,162,255,0.75);
}

.button a {
    text-decoration: none;
    color: white;
    display: block;
    font-family: Arial, sans-serif;
}

h1 span {
    color:#00a2ff;
}

h2 {
    text-align:center;
    margin:5px 0;
    font-size:10pt;
    color:#333;
}

h3 {
    text-align: center;
    margin: 15px 0;
    font-size: 16pt;
    color: #333;
}

h3 span {
    font-weight: 700;
}

p { /*Feedback besked*/
    font-size:10pt;
    text-align:left;
    display:none;
}

form {
    padding: 20px 0;
    width:240px;
    margin:0 auto;
}

form input[type=text], form input[type=password], form input[type=email] {
    background:#f5f5f5;
    text-indent:5px;
    font-size:10pt;
    font-weight:700;
    color:#333;
    display:block;
    margin:5px auto;
    width:100%;
    height:24px;
    padding:0;
    outline:0;
    border:1px solid #bbb;
    border-radius: 3px;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus {
    background:#fff;
    color:#333;
}

form input[type=text]:hover, form input[type=password]:hover, form input[type=email]:hover {
    background:#fff;
}

form input[type=submit] {
    background:#00a2ff;
    display:block;
    margin:10px auto;
    width:calc(100% + 2px);
    height:26px;
    padding:0;
    outline:0;
    border:0;
    border-radius:3px;
    color:white;
    font-weight:700;
    cursor: pointer;
}

form input[type=submit]:hover {
    background:rgba(0,162,255,0.75);
}

.overview {
    width:1080px;
    margin:0 auto;
    border:1px solid #333;
}

.overview tr {
    background:#e9e9e9;
}

.overview tr:nth-child(odd) {
    background:#d1d1d1;
}

.overview tr:first-child {
    background:#333;
    color:#fff;
}

.overview tr:not(:first-child):hover {
    cursor: pointer;
    background:#fafafa;
}

.overview th {
    text-align:left;
    font-weight:700;
    padding:5px;
}

.overview td {
    padding:5px;
}

.overview td:last-child a {
    display: inline-block;
}

.overview form {
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.t1 { width:150px; }
.t3 { width:150px; }
.t4 { width:100px }
.t5 { width:150px; }
.t6 { width:50px; }

.logo {
    display:block;
    width:300px;
    margin:20px auto;
}